ServiceTestingBL/Service References/AuthenticationService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29384/AuthenticationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29384/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_GetTokenAccessForMobileUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenAccessForMobileUser" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetTokenAccessForMobileUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenAccessForMobileUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticateWebSiteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateWebSiteUser" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_AuthenticateWebSiteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateWebSiteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationService">
    <wsdl:operation name="GetTokenAccessForMobileUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/GetTokenAccessForMobileUser" message="tns:IAuthenticationService_GetTokenAccessForMobileUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/GetTokenAccessForMobileUserResponse" message="tns:IAuthenticationService_GetTokenAccessForMobileUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateWebSiteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticateWebSiteUser" message="tns:IAuthenticationService_AuthenticateWebSiteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationService/AuthenticateWebSiteUserResponse" message="tns:IAuthenticationService_AuthenticateWebSiteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthenticationService" type="tns:IAuthenticationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokenAccessForMobileUser">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/GetTokenAccessForMobileUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateWebSiteUser">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationService/AuthenticateWebSiteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="BasicHttpBinding_IAuthenticationService" binding="tns:BasicHttpBinding_IAuthenticationService">
      <soap:address location="http://localhost:29384/AuthenticationService.svc/AuthenticationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>